* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {

    background-image: url("../imgs/pokeball-for-background-2.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 174px;
}

.main-header{
    width: 100%;
    margin: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0.5rem;
}

.main-header form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  }

.main-header input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 12rem;
}
  
.main-header input[type="search"]::placeholder {
    color: #bbb;
}

.main-header button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.main-header button[type="submit"]:hover {
    opacity: 1;
}

.main-header button[type="submit"]:focus,
.main-header input[type="search"]:focus {
    box-shadow: 0 0 3px 0 darkblue;
    border-color: darkblue;
    outline: none;
}

.content {
    width: 100%;
    min-height: 80vh;
    padding: 0rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
    text-align: center;
}

.main-footer{
    width: 100%;
    height: auto;
    padding: 0.5rem 2rem;
    border-radius: 3rem 3rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f6;
}

.main-footer a{
    text-decoration: none;
    color: #00008b;
}

.main-footer > p {
    margin: 1rem 0;
    font-size: 0.65rem;
}

.social-media{
    display: flex;
    gap: 0.5rem;
}

.social-media svg{
    fill: #00008b;
}

/* Sobrescrevendo CSS do Sweet Alert */

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    color: yellow !important;
}

@media screen and (min-width: 560px) {

    .content{
        padding: 0rem 3rem 1.5rem 3rem;
    }
}

@media screen and (min-width: 768px) {

    body {
        background-size: 219px;
    }

    .main-header{
        padding: 1.2rem 5rem;
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media screen and (min-width: 992px) {

    .main-footer{
        padding: 0.5rem 10rem;
    }
    
    .main-footer > p {
        font-size: 0.85rem;
    }

    .main-header{
        padding: 1.2rem 10rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .content{
        padding: 0rem 8rem 1.5rem 8rem;
    }
}