.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s;
}

.active{
  visibility: visible;
  pointer-events: all;
}

.modal-content {
  min-width: 17rem;
  width: 22rem;
  margin: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  
  @media screen and (min-width: 375px) {
    margin: 2rem;
  }
}

.header-modal{
  display: flex;
  flex-direction: column;
  background-image: url('../imgs/pokeball-for-background_3.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 150px;
  height: 14rem;
  margin-top: 0.25rem;
}

.nav-modal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 1rem 1.5rem;
}

.nav-modal button {
  display: flex;
  justify-content: center;
  gap: .5rem;
  font-size: .825rem;
  color: white;
  border: none;
  cursor: pointer;
  background: none;
}

.nav-modal button:hover {
  color: darkblue;
}

.nav-modal button svg{
  fill:white;
}

.nav-modal button svg:hover{
  fill:darkblue
}

.header-modal .id {
  color: black;
  opacity: 0.3;
  text-align: right;
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
  padding: 0;
}

.header-modal .name {
  text-transform: capitalize;
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
  margin: 0 0 0.5rem 0;
  padding: 0 1.8rem;
}

.header-modal .types {
  padding: 0;
  margin: 0;
  list-style: none;
  width: fit-content;
  display: flex;
  gap: .5rem;
  padding: 0 1.5rem;
}

.header-modal .types .type {
  color: #fff;
  padding: .35rem .85rem;
  margin: .1rem 0;
  font-size: .825rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
  text-transform: capitalize;
}

.pokemonDetails{
  background-color: #fff;
  position: relative;
  border-radius: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.pokemonDetails img {
  max-width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 91%;
}

.menu-tab {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.menu-tab nav{
  margin-top: 1rem;
}

.menu-tab nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0.52rem;
}

.menu-tab nav a {
  font-size: .825rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color:darkgray;
}

.tabs{
  display: flex;
  list-style: none;
}

.menu-tab nav li.tab-active a {
  text-decoration: underline 0.15rem solid darkblue;
  text-underline-offset: 0.65rem;
  color: black;
}

.content-tabs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow: hidden;
  margin: 0 2rem;
  padding: 1rem 0;

  @media screen and (min-width: 360px) {
    margin: 0 2.5rem;
  }

  @media screen and (min-width:400px) {
    margin: 0 2.85rem;
  }

  @media screen and (min-width: 560px) {
    margin: 0 3rem;
  }
}

.content-tabs article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  font-size: .755rem;

  @media screen and (min-width: 560px) {
    font-size: .9rem;
  }
}

tbody{
  vertical-align: text-top;
}

th{
  color: gray;
  padding-right: 1rem;
}

td{
  text-transform: capitalize;
  height: 20px;
}

caption{
  text-align: left;
  font-weight: 600;
  font-size: .9rem;
  margin: 0.35rem 0;
}

th .stats-name, td .stats-value, td.stats-total, progress .progress-more, progress .progress-less {
  margin-bottom: .5rem;
}

.stats-name{
  text-align: right;
}

.stats-value{
  text-align: center;
}

.stats-total{
  font-weight: bolder;
  text-align: center;
}

progress {
  appearance: inherit;
  height: .5rem;
  width: 6rem;
  margin-left: 1rem;

  @media screen and (min-width: 768px) {
    width: 9rem;
  }
  
}

progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 1rem;
}
.progress-less::-webkit-progress-value {
  background-color: #fb6c6c;
  border-radius: .5rem;
}

.progress-more::-webkit-progress-value {
  background-color: #46d1b2;
  border-radius: .5rem;
}

#moves ul{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.moves{
  border: 1px dashed rgba(0, 0, 0, 0.14);
  border-width: 0.1rem;
  background-color: #ECECEC;
  border-radius: 0.75rem;
  text-transform: capitalize;
  list-style: none;
  padding: .5rem;
  text-align: center;
}

table.stats, #moves ul{
  margin-top: 1rem;
}

table.stats{
  width: 100%;
  height: 70%;
}